* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace ;
}

body {
    background: #eeeeee;
    margin-top: 10px;
}

.box.parent {
    background-color: #ffffff;
    margin: auto;
    height: auto;
    width: 900px;
    max-width: 1063px;
}