* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Temporary border */
div {
    border: 1px solid rgb(0, 0, 0);
}

/* Temp color */
.box.parent {
    margin: 10px;
    background-color: rgb(235, 235, 235);
}

.box.heading-one {
    margin: 10px 0;
}

.box.para {
    margin: 10px 0;
}

.box.ulist {
    margin: 10px 0;
}

.box.list {
    margin: 10px 0;
}

li {
    list-style: none;
}