* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace ;
}

body {
    background: #eeeeee;
    height: 1375px;
    width: 1063px;
}

.box.parent {
    margin: 10px;
    background-color: #ffffff;
}

li {
    list-style: disc;
}

div.line {
    border: 1px solid blue;
}

.box.heading-one, .box.para, .box.list {
    padding: 10px 0 0 10px;
}

div.box-line {
    margin-left: 100px;
    border-left: 1px solid red;
}

h1 {
    font-size: 35px;
    padding-top: 20px;
}

.box.list {
    padding-left: 30px;
}

div.box-empty {
    height: 30px;
}